<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form de Categoria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Formulário de Categoria</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/listCategories" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/updateCategorie/{{db.id}}/{%else%}/createCategories/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: Categoria A</div>
            <div class="form-group mt-4">Descrição: A categoria A faz coisa tal...</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
</body>
</html>